**Bokeh Color Generator for each lot as a column**

In [9]:
# Import pandas as pd
import pandas as pd
df = pd.read_excel('macys.xls')

In [10]:
df['lot1']=df.lot.str[-4:]
df_set = list(set(df.lot1))

In [11]:
from bokeh.palettes import Category10
pallet_dict = Category10
colors = pallet_dict.get(len(df_set))

In [12]:
df_dict= dict(list(zip(df_set, colors)))

In [14]:
df['color'] = df.lot1.map(df_dict)
df.sample(5)

,ind,lot,brand,unnamed:_0,ext_msrp,msrp,qty,upc,lot1,color
18,18,cys\lot1,RALPH LAUREN,244,126.00,126.00,2,1767641742929,lot1,#2ca02c
14,14,cys\lot1,MUNDI,144,50.58,50.58,1,77979531125,lot1,#2ca02c
3,3,cys\lot1,CALVIN KLEIN,1491,6456.00,4904.00,37,7454080847699,lot1,#2ca02c
46,46,cys\lot3,VERA BRADLEY,28,28.00,28.00,1,886003544570,lot3,#ff7f0e
20,20,cys\lot1,THE SAK,625,573.00,573.00,6,4269843560608,lot1,#2ca02c